.sliderList {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(192px, auto);
  grid-row-gap: 28px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 45px;
}

.cardContainer {
  padding: 0 10px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.title {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  color: #f2f6fe;
}

.seeAllLink {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ccff00;
  cursor: pointer;
  border: none;
  background: none;
}
